// app global css in SCSS form
@import './reset';

body {
  font-family: 'Cascadia Mono';
  background-color: $bg;
}

.bg-surface {
  background-color: $surface;
}

.q-btn:not(.q-btn--fab-mini, .q-btn--fab) {
  border-radius: 6px;
}

.q-field__control {
  border-radius: 8px;
}
